@use 'variables' as *;

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px rgb(136, 230, 127);
  }
  100% {
    box-shadow: 0 0 0 3px rgb(136, 230, 127);
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated {
  background-size: 400% 400%;
  animation: gradient-shift 15s ease infinite;
}

.pulse {
  animation-delay: 0.5s;
  animation: pulse 1.5s infinite;
}