@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar {
  display: none;
}
*{
  scroll-behavior:smooth
}
/* ----------- Header Info -------------*/
.header{
  margin-left: 26vw;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  z-index: 9999;
  color:white ;

}
.header ul{
  list-style-type: none;
}

.header li{
  margin-left: 5vw;
  display: inline-block;
}


.stickys{
  position: sticky;
  top: 0;
  padding-top: 1vh;
  backdrop-filter: blur(10px);
}

.stickys hr{
  width: 45vw;
  margin:0 auto;

}

/* ----------- Name/First block info -------------*/


#Mids{
  margin-top: 23vh;
}


.Name{
  display: block;
  font-size: 64px;
  margin-bottom: 5vh;
  margin-left: 40vw;
  color:#fdf0d5;

}


.block{
  height: 100vh;
  width: 100vw;
  background-color: #003049;

}

.Descdes{
  height: 5vh;
  width: 40vw;
  margin-left: 32%;
  margin-right: 35%;
  color:#fdf0d5 ;

}

.Desc{
  display: inline-block;
  margin-left: 3vw;
  margin-right: 3vw;
  top: -25px;
}

.Socials{
  margin-bottom: 38.5vh;
  margin-left: 43vw;
}

.Socials div{
  display: inline;

}

.Bg{
  width: 100vw;
  height: 100vh;
  z-index: -10;
  position: absolute;
}


.arrow_down{
  position: absolute;
  margin-left: 46.5vw;
  margin-top: -15vh;

}

.ExpandCircleDownIcon:hover{
  background-color: bisque;
}

/* ----------- About me block info -------------*/

.AboutTitle{
  font-size: 32px;
  color: #fdf0d5;
  padding-top: 10vh;
  margin-bottom: 2vh;
  margin-left: 44vw;
}


.AboutDesp{
  font-size: 16px;
  color: #fdf0d5;
  width: 30vw;
}

.avatar{
  margin-left: 10vw;
}

.photoBlock{
  margin-left: 33vw;

}




.SkillsBlock{
  margin-left: 15vw;
}

.SkillsBlock h2{
  font-size: 32px;
}

.SkillsBlock hr{
  margin-bottom: 3vh;
}

.SkillsBlockL{
  color:#fdf0d5;
  display: inline-block;
  width: 20vw;
}

.SkillsBlockR{
  color:#fdf0d5;
  display: inline-block;
  width: 31vw;
}


/*-------- Resume block --------*/
.Resume h1{
  font-size: 32px;
}

.Resume h3{
  font-size: 20px;
}