@tailwind base;
@tailwind components;
@tailwind utilities;


.header ul{
  list-style-type: none;
}

.header li{
  float: left;
  margin-left: 10vw;
}

.Mid{
  display: block;
}

.Mid div{

}


.Name{
  margin-top: 5vh;
  display: block;
  text-align: center;
}